<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
        <div class="navigation">
            <div class="logo">
                <a class=""href="/"><i class="fab fa-instagram"></i></a>
                <a class="v1"href="/"></a>
                <a href="/">instagram</a>
                  
            </div>
            <div class="search">
                <input type="text" placeholder="search">
                <a class="search_bar" href=""><i class="fas fa-search"></i></a>

            </div>
            <div class="contact">
                <a class="campass" href="/"><i class="far fa-compass"></i></i></a>
                <a class="like" href="/"><i class="far fa-heart"></i></a>
                <a class="profile" href="/"><i class="fas fa-user"></i></a>


            </div>
        </div>
    </header>

    <div class="content_container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>